*, *::before, *::after {
  box-sizing: border-box;
}

/* Custom Properties*/

:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;
  --fw-reg: 300;
  --fw-bold: 900;
  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #6ad28c;
  --clr-accent-dark: #38724a;
  --clr-footer: rgb(20, 20, 20);
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25), 0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General styles */

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

strong {
  font-weight: var(--fw-bold)
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

.navigation-list__item:hover {
  color: var(--clr-accent-dark);
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/* Buttons */

.download-btn {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  display: block;
  font-family: var(--ff-secondary);
  color: var(--clr-light);
  margin-top: -15px;
  text-decoration: none;
  font-size: 22px;
  width: 200px;
}

.download-btn:hover {
  transform: scale(1.1);
  transition: 1s;
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/* .btn {
  display: inline-block;
  padding: .5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
} */

/* Typography */

h1, h2, h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
  padding: 10px;
}

h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin-bottom: .25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro, .section__subtitle--work {
  background: var(--clr-accent) linear-gradient(to right, rgba(0, 0, 0, 0.60), var(--clr-accent));
  padding: .25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

.section__subtitle--about {
  color: var(--clr-accent-dark);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

/* navbar */

.page-header {
  display: flex;
  width: 100%;
  padding: 5px 50px;
  position: fixed;
  z-index: 99;
  transition: 0.8s;
}

/* maybe change animation size */

header.sticky {
  padding: 5px 90px;
  background: #fff;
}

header.sticky ul li a {
  color: var(--clr-accent-dark);
}

.page-header__item {
  flex: 0 1 200px;
  margin-right: 25px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
  list-style-type: none;
  font-size: 20px;
  transition: 0.6s;
  font-family: var(--ff-secondary);
}

.navigation-list__item {
  color: var(--clr-accent);
  text-decoration: none;
}

.logo {
  /* max-width: 250px; */
  height: 17%;
  width: 17%;
  margin-top: 10px;
  position: relative;
  transition: 0.6s;
}

.banner {
  position: fixed;
  width: 100%;
}

/*  Intro section  */

.background-image {
  background-image: url("https://www.digitalplatforms.co.za/wp-content/uploads/2015/11/Website-Design-Background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.intro {
  position: relative;
  padding-top: 20%;
}

.intro__img {
  box-shadow: var(--bs);
  border-radius: 50%;
  transition: all ease-out .5s;
}

.section__subtitle--intro {
  display: inline-block;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas: "img title" "img subtitle";
    grid-template-columns: min-content max-content;
  }
  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }
  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

/* .about-me__img {
  box-shadow: var(--bs);
} */

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-template-areas: "title img" "subtitle img" "text img";
    grid-column-gap: 2em;
  }
  .section__title--about {
    grid-area: title;
    color: var(--clr-dark);
  }
  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }
  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

/*  Tech Stack  */

.tech-stack {
  background-color: var(--clr-dark);
  background-image: url(../img/);
  background-size: cover;
  /* background-blend-mode: multiply; */
  color: var(--clr-light);
  text-align: center;
}

.stack-icon__container {
  padding-top: 25px;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

.stack-icon {
  display: inline-block;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
}

@supports (display: grid) {
  .stack-icon__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
  }
  .container__item {
    width: auto;
    min-height: auto;
    margin: 0;
  }
}

/* My Work */

.section__title--work {
  color: var(--clr-dark);
  position: relative;
  text-align: left;
}

.section__subtitle--work {
  text-align: left;
  color: var(--clr-light)
}

.my-work {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  text-align: center;
}

/* Portfolio */

.portfolio {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

/* Projects */

.project-container {
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.project-container__item {
  justify-self: center;
  padding: 2%;
  margin-bottom: inherit;
  margin-top: 7%;
  display: inline-block;
  width: 100%;
}

.my-projects {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.project__link {
  color: var(--clr-accent);
  text-decoration: none;
}

.section__title--project {
  color: var(--clr-accent-light);
  position: relative;
  text-align: center;
}

.section__title--project::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.25;
}

/* footer */

#footer {
  /* background: var(--clr-footer); */
  text-align: center;
  clear: both;
  display: flex;
  flex-direction: column;
  padding: 3%;
}

.footer__link {
  font-weight: var(--fw-bold);
  color: var(--clr-accent-dark);
}

.footer__link:hover, .social-list__link:hover {
  opacity: .7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list__logo {
  height: 30px;
  width: 30px;
  margin: 7px;
}

.social-list {
  list-style: none;
  display: flex;
  display: col;
  justify-content: center;
  margin: 10px;
  padding: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Slideshow container */

.slideshow__container {
  max-width: 700px;
  position: relative;
  margin: auto;
}

/* Caption text */

.img__text {
  /* background-color: #38724a; */
  color: var(--clr-accent-dark);
  font-size: 18px;
  font-family: var(--ff-secondary);
  position: relative;
  top: 5px;
  width: 100%;
  text-align: center;
  margin-bottom: -20px;
}

/* The dots/bullets/indicators */

.dot {
  text-align: center;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 5%;
}

.active {
  background-color: #717171;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px
  }
}

/* on smaller screen, makes grid smaller */

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
}