:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;
  --fw-reg: 300;
  --fw-bold: 900;
  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #6ad28c;
  --clr-accent-dark: #38724a;
  --clr-footer: rgb(29, 29, 29);
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25), 0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

* {
  box-sizing: border-box;
}

/* Custom Properties*/

:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;
  --fw-reg: 300;
  --fw-bold: 900;
  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #6ad28c;
  --clr-accent-dark: #38724a;
  --clr-footer: rgb(20, 20, 20);
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25), 0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General styles */

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

strong {
  font-weight: var(--fw-bold)
}

/* :focus {
  outline: 2px solid var(--clr-accent);
  outline-offset: 3px;
} */

.navigation-list__item:hover {
  color: var(--clr-accent-dark);
  outline: 2px solid var(--clr-accent);
  outline-offset: 3px;
}

/* Buttons */

.download-btn {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  font-family: var(--ff-secondary);
  color: var(--clr-light);
  margin-top: -15px;
  text-decoration: none;
  font-size: 22px;
  width: 200px;
  text-shadow: 1px 1px 6px #000000;
}

.download-btn:hover {
  transform: scale(1.05);
  transition: 1s;
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/* .btn {
  display: inline-block;
  padding: .5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
  margin-top: 1em;
  border-radius: 1px;
}

a.button:hover {
  background-color: var(--clr-accent-dark);
}


/* Typography */

h1, h2, h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
  padding: 10px;
}

h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin-bottom: .25em;
  text-align: center;
}

.section__title--intro {
  font-weight: var(--fw-reg);;
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro, .section__subtitle--project {
  background: var(--clr-accent) linear-gradient(to right, rgba(0, 0, 0, 0.60), var(--clr-accent));
  padding: .25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

.section__subtitle--about {
  color: var(--clr-accent-dark);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
  text-align: center;
}



/* navbar */

.page-header {
  display: flex;
  width: 100%;
  padding: 5px 50px;
  position: fixed;
  z-index: 99;
  transition: 0.8s;
}

/* maybe change animation size */

header.sticky {
  padding: 5px 90px;
  background: #fff;
}

header.sticky ul li a {
  color: var(--clr-accent-dark);
}


.page-header__item {
  flex: 0 1 200px;
  margin-right: 25px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list li {
  display: inline-block;
  margin-left: 28px;
  list-style-type: none;
  font-size: 20px;
  transition: 0.6s;
  font-family: var(--ff-secondary);
}

.navigation-list__item {
  color: var(--clr-accent);
  text-decoration: none;
}

.logo {
  /* max-width: 250px; */
  height: 17%;
  width: 17%;
  margin-top: 10px;
  position: relative;
  transition: 0.6s;
}

.banner {
  position: fixed;
  width: 100%;
}

/*  Intro section  */

.background-image {
  background-image: url("https://www.digitalplatforms.co.za/wp-content/uploads/2015/11/Website-Design-Background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.intro {
  position: relative;
  padding-top: 20%;
}

.intro__img {
  box-shadow: var(--bs);
  border-radius: 50%;
  transition: all ease-out .5s;
}

.section__subtitle--intro {
  display: inline-block;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas: "img title""img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}


@media (min-width: 600px) {
  .about-me {
    justify-content: center;
  
  }

  .section__title--about {
    grid-area: title;
    color: var(--clr-dark);
  }

  /* .section__subtitle--about {
     grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  } */

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

.about-me__body {
  color: var(--clr-dark);
  font-size: 22px;
  text-align: justify;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas: "img title" "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

/* .about-me__img {
  box-shadow: var(--bs);
} */

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-template-areas: "title img""subtitle img""text img";
    grid-column-gap: 2em;
  }

  .section__title--about {
    grid-area: title;
    color: var(--clr-dark);
  }

  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

.about-me__body {
  color: var(--clr-dark);
  font-size: 22px;
}

/*  Tech Stack  */

.section__title--stack {
  margin-bottom: .75em;
}

.tech-stack {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

.stack-icon__container {
  padding-top: 25px;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

.stack-icon {
  display: inline-block;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 2em;
}

@supports (display: grid) {
  .stack-icon__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
  }

  .container__item {
    width: auto;
    min-height: auto;
    margin: 0;
  }
}

/* My Projects */

.my-projects {
  background-color: var(--clr-light);
  color: var(--clr-light);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project__link:hover {
  color: var(--clr-accent-dark);
}


.section__title--project {
  color: var(--clr-dark);
  position: relative;
  text-align: center;

  margin-bottom: 1em;
}


.section__title--contact {
  color: var(--clr-light);
  /* position: relative; */
  text-align: center;
}

.section__subtitle--contact {
  text-align: left;
  color: var(--clr-dark)
}

.contact-section {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
  background-color: var(--clr-dark);
  background-size: cover;
  /* background-blend-mode: multiply; */
  color: var(--clr-light);
  text-align: center;
  /* display: flex; */

}

.contact-form__container {
  width: 500px;
  margin: 0 auto;
  display: flex;
 }

form {
  margin-top: 5em;
  transition: all 4s ease-in-out;
}


.form-control {
  width: 500px;
  border: none;
  outline: none;
  color: var(--clr-light);
  background: transparent;
  border-bottom: 1px solid var(--clr-accent);
  margin-bottom: 2em;
  padding-bottom: 1em;
}


.form-submit {
  display: inline-block;
  padding: .5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
  margin-top: 1em;
  border: none;
}

.form-submit:hover {
  background-color: var(--clr-accent-dark);

}




  /* ---work.html--- */


#footer {
  background: var(--clr-footer);
  text-align: center;
  clear: both;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.portfolio__item:focus {
  position: relative;
  z-index: 2;
}

.portfolio__img:hover, .portfolio__item:focus .portfolio__img {
  transform: scale(1.2);
  /* opacity: .95; */
}

.project-container .project__image {
  overflow: hidden;
  width: 400px;
  height: auto;
  margin-bottom: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  padding-top: 1.5em;
}

.project-container__item:hover {
  transform: scale(1.1);
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
}

.social-list__logo:hover {

  outline: 2px solid var(--clr-accent);
  outline-offset: 3px;
  border-radius: 50%;
}

.social-list {
  list-style: none;
  display: flex;
  display: col;
  justify-content: center;
  margin: 10px;
  padding: 0;
}

.my-projects {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.project__link {
  color: var(--clr-accent);
  text-decoration: none;
}

.project__link:hover {
  text-shadow: 0 2px 5px var(--clr-accent-dark);
}

.owl-carousel .prev-slide {
  background: url(nav-icon.png) no-repeat scroll 0 0;
  left: -33px;
}

.owl-carousel .next-slide {
  background: url(nav-icon.png) no-repeat scroll -24px 0px;
  right: -33px;
}

.owl-nav {
  color: #000000;
  font-size: 40px;
}

/* Contact Me */


.section__title--contact {
  color: var(--clr-light);
  /* position: relative; */
  text-align: left;
}

.section__subtitle--contact {
  text-align: left;
  color: var(--clr-dark)
}

.contact-section {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
  background-color: var(--clr-dark);
  background-size: cover;
  /* background-blend-mode: multiply; */
  color: var(--clr-light);
  text-align: center;
}






/* footer */

#footer {
  background: var(--clr-dark);
  text-align: center;
  clear: both;
  display: flex;
  flex-direction: column;
  padding: 3%;
}

.footer__link {
  font-weight: var(--fw-bold);
  color: var(--clr-accent-dark);
}

.footer__link:hover, .social-list__link:hover {
  opacity: .7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list__logo {
  height: 30px;
  width: 30px;
  margin: 7px;
}

.social-list {
  list-style: none;
  display: flex;
  display: col;
  justify-content: center;
  margin: 10px;
  padding: 0;
}

.footer__text {
  color: var(--clr-light);
  font-size: var(--fw-reg);
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}






/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px
  }
}

/* on smaller screen, makes grid smaller */

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
}







