/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

:root {
--background-color: #859986;
--grid-color: #94a89a; /*light green*/
 /*0b525b potential grid color*/
--secondary-text-color: #FFFFFF; /*white*/
--primary-text-color: #000;
--link-color: #190B28; /*dark color*/
--hover-color: #003B36;
--button-color: #45585E;
--button-text-color: #FFFFFF;
--contact-form-color: #94a89a;
--accent-color: #190B28;
--main-font-size: 19px;
--form-font-size: 17px;
--primary-font: 'Play', sans-serif;
}

/* ---fonts--- */

a {
  color: var(--link-color);
  font: var(--primary-text-color);
 }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
font-family: var(--primary-font);
font-size: var(--main-font-size);
background-color: var(--background-color);
}


h1 {
  font-size: 27px;
  font-weight: 700;

}

h2 {
  font-size: 25px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: normal;
}

/*links*/
a:visited {
  /* visited link */
  color: var(--link-color);
  text-decoration: none;
}

a:hover, a:focus {
  color: var(--hover-color);
  text-decoration: none;
}

a:active {
  /* selected link */
  color:  var(--link-color);
    text-decoration: none;
}

.heading {
  font-family: var(--primary-font);
  color: var(--accent-color);
}

.heading__accent {
  font-size: 32px;
  color: var(--accent-color);
  font-weight: bold;
}

.main {
  font-size: 20px;
  font-family: var(--primary-font);
  color: var(--accent-color);
 }

.contact__info {
  color: var(--secondary-text-color);
  text-decoration: none;
}

 .main__contact {
  color: var(--primary-text-color);
 }

.main__accent {
  font-size: 20px;
  color: var(--accent-color);
  font-weight: bold;
}

.code {
  background-color: #2F3E46;
  color: var(--secondary-text-color);
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
  word-spacing: -4px;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
  list-style-type: none;
  font-size: 20px;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 30px;
}

.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.profile {
  max-width: 800px;
  min-width: 360px;
  margin: 0 auto;
  padding: 120px;
}

.about-me {
  margin: 30px auto;
  max-width: 700px;
  text-align: center;
}

.my-work {
  margin: 30px auto;
  max-width: 1100px;
  text-align: center;
}

.link__to-code {
  font-size: 18px;
}

/* ---index.html--- */

.profile__picture {
  float: left;
  width: 250px;
  height: 250px;
  margin-right: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 6px 8px 0 rgba(34,60,80,.16);
          box-shadow: 0 6px 8px 0 rgba(34,60,80,.16);
  -webkit-transition: all ease-out .5s;
  -o-transition: all ease-out .5s;
  transition: all ease-out .5s;
}

.profile__picture:hover {
  -webkit-box-shadow: 0 8px 12px 0 rgba(34,60,80,.25);
          box-shadow: 0 8px 12px 0 rgba(34,60,80,.25);
}



/* ---contact.html--- */

.main__contact {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr 40px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin: 50px;
  }

.contact__container {
  text-align: right;
}

.contact__form {
  padding: 30px 30px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: var(--contact-form-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 600px;
  justify-self: left;
  width: 400px;
}


.main__contact {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__heading {
  -ms-grid-column-align: right;
      justify-self: right;
  margin-bottom: 1.15em;
}

.contact__textarea {
  font-family: var(--primary-font);
  font-size: var(--form-font-size);
  min-height: 100px;
  max-height: 400px;
  resize: vertical;
  border-radius: 5%;
}

.contact__input {
  font-family: var(--primary-font);
  color: var(--secondary-color);
  font-size: 0.8em;
  display: inline-block;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px 10px;;
  border: 1.5px solid var(--background-color);
  outline: none;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

.button__form {
  margin-left: 100px;
}

.contact__input:focus {
  border-color: var(--primary-color);
  color: var(--primary-color);
}


/* --button-- */

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.75;
  background-color: var(button-color);
  color: var(--button-text-color);
}


.contact-button,
.button {
  text-decoration: none;
  background-color: var(--button-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 5px;
  display: inline-block;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: var(--primary-font);
  padding: 10px;
  }




  /* ---work.html--- */


table {
  border-collapse: collapse;
  margin: 40px auto;
}

td, th {
  padding: 0.25em;
  text-align: center;
  border-bottom: 1px dotted var(--background-color);
  background-color: var(--grid-color);
}

div {
  padding: 10px; /* Adds a 10px inner spacing to all sides*/
  margin: 10px; /* Adds a 10px outer spacing to all sides*/
  border: none; /* Attributes describe: thickness, type, color*/
}


/* start grid fallback */
.grid__item {
 display: inline-block;
 width: 33%;
}
/* end grid fallback */

@supports (display: grid) {
 .grid {
   display: -ms-grid;
   display: grid;
   /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
   -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 20px;
   margin: 0;
 }

 .grid__item {
   background-color: var(--grid-color);
   width: auto;
   min-height: auto;
   margin: 0;
  }
}

/* ---svg animation--- */

.svg-image {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto;
  width: 600px;
}

.st1 {
  color: var(--background-color)
}

 .sun {
  -webkit-animation: 3s color-change infinite alternate linear;
          animation: 3s color-change infinite alternate linear;
}
@-webkit-keyframes color-change {
  0% {
    fill: #ffe866;
  }
  50% {
    fill: #ffd900;
  }
  100% {
    fill: #ffad33;
  }
}
@keyframes color-change {
  0% {
    fill: #ffe866;
  }
  50% {
    fill: #ffd900;
  }
  100% {
    fill: #ffad33;
  }
}



/*footer*/

.page-footer {
  text-align: center;
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.svg_logo {
  height: 30px;
  width: 30px;
  margin: 7px;
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
}
